In [12]:
# Librerías base

from pathlib import Path
import pandas as pd

In [13]:

# Confirmar la ruta actual
print("Ruta actual:", os.getcwd())

# Ruta completa al archivo Excel
ruta_excel = r"C:\Users\juans\Documents\GitHub\cuenta-alto-costo\Mortalidad 2019 colombia1.xlsx"

# Ver qué hojas tiene el archivo
hojas = pd.ExcelFile(ruta_excel).sheet_names
print("Hojas disponibles:", hojas)

# Leer la hoja específica "BD FINAL"
datos_mortalidad = pd.read_excel(ruta_excel, sheet_name="BD FINAL")

# Mostrar la información del DataFrame
datos_mortalidad.info()

Ruta actual: c:\Users\juans\Documents\GitHub\cuenta-alto-costo\Reference files
Hojas disponibles: ['COSTOSAS', 'BD FINAL']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42644 entries, 0 to 42643
Data columns (total 59 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COD_DPTO              42644 non-null  int64
 1   Nom Dep               42644 non-null  object
 2   COD_MUNIC             42644 non-null  int64
 3   A_DEFUN               42644 non-null  int64
 4   SIT_DEFUN             42644 non-null  int64
 5   OTRSITIODE            129 non-null    object
 6   TIPO_DEFUN            42644 non-null  int64
 7   ANO                   42644 non-null  int64
 8   MES                   42644 non-null  int64
 9   HORA                  42644 non-null  int64
 10  MINUTOS               42644 non-null  int64
 11  SEXO                  42644 non-null  int64
 12  EST_CIVIL             42644 non-null  int64
 13  GRU_ED1               42644 non-null  int64
 14  GRU_ED2               42644 non-null  int64
 15  NIVEL_EDU             42644 non-null  int64
 16  ULTCURFAL             42644 non-null  int64
 17  MUERTEPORO            42479 non-null  float64
 18  SIMUERTEPO            35 non-null     float64
 19  OCUPACION             42333 non-null  object
 20  IDPERTET              42644 non-null  int64
 21  CODPRES               42635 non-null  float64
 22  CODPTORE              42493 non-null  float64
 23  CODMUNRE              42493 non-null  float64
 24  AREA_RES              42494 non-null  float64
 25  SEG_SOCIAL            42644 non-null  int64
 26  IDADMISALUD           41618 non-null  float64
 27  P_PMAN_IRIS           42644 non-null  int64
 28  CONS_EXP              42644 non-null  int64
 29  MU_PARTO              31 non-null     float64
 30  T_PARTO               31 non-null     float64
 31  TIPO_EMB              31 non-null     float64
 32  T_GES                 31 non-null     float64
 33  T_GES_AGRU_CIE        31 non-null     float64
 34  PESO_NAC              31 non-null     float64
 35  EDAD_MADRE            31 non-null     float64
 36  N_HIJOSV              31 non-null     float64
 37  N_HIJOSM              31 non-null     float64
 38  EST_CIVM              31 non-null     float64
 39  NIV_EDUM              31 non-null     float64
 40  ULTCURMAD             31 non-null     float64
 41  EMB_FAL               5138 non-null   float64
 42  EMB_SEM               5138 non-null   float64
 43  EMB_MES               5138 non-null   float64
 44  CODOCUR               4 non-null      float64
 45  CODMUNOC              4 non-null      float64
 46  C_MUERTE              316 non-null    float64
 47  C_MUERTEB             35882 non-null  float64
 48  C_MUERTEC             5079 non-null   float64
 49  C_MUERTED             13792 non-null  float64
 50  C_MUERTEE             0 non-null      float64
 51  ASIS_MED              42644 non-null  int64
 52  CAUSA_MULT            42644 non-null  object
 53  C_BAS1                42644 non-null  object
 54  NOMBRE CIE-10         42644 non-null  object
 55  CUENTA DE ALTO COSTO  42644 non-null  object
 56  CAUSA_667             42644 non-null  int64
 57  IDPROFCER             42644 non-null  int64
 58  CAU_HOMOL             42644 non-null  int64
dtypes: float64(29), int64(23), object(7)
memory usage: 19.2+ MB

Las siguientes variables se relacionan con la variable "survived":

* `boat`: El número del bote salvavidas (si sobrevivieron)
* `body`: El número del cuerpo (si no sobrevivieron y el cuerpo fue recuperado)

**Tener presente** un concepto fundamental que se conoce como ***data leakage***, el cual significa que algunas columnas podrían traer consigo la variable que vamos a predecir. Por ejemplo: si conocemos el número del bote salvavidas, esto implica que el pasajero sobrevivió, por lo tanto, la variable "survived" ya se conocería de manera implícita.

In [11]:
columnas_a_usar = [
    "pclass",
    "survived",
    "name",
    "sex",
    "age",
    "sibsp",
    "parch",
    "ticket",
    "fare",
    "cabin",
    "embarked",
    "home.dest",
]

In [4]:
# Para tenerlos en formato csv
datos_titanic_final = pd.read_csv(url_datos, usecols=columnas_a_usar, low_memory=False)

# Verificamos que se hayan cargado las columnas que queríamos
datos_titanic_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1309 non-null   object
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1309 non-null   object
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  home.dest  1309 non-null   object
dtypes: int64(4), object(8)
memory usage: 122.8+ KB

In [5]:
# Obtener la ruta del notebook actual
ruta_datos_crudos = Path.cwd().resolve().parent / "datos"

ruta_archivo = ruta_datos_crudos / "01_datos_crudos_titanic.parquet"

# Crear directorio si no existe
ruta_datos_crudos.mkdir(parents=True, exist_ok=True)

# Guardar el DataFrame en el archivo parquet
datos_titanic_final.to_parquet(ruta_archivo, index=False)