In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import pyarrow as pa

In [9]:
# Es importante garantizar que los datos estén en el directorio correcto

DATA_DIR = Path.cwd().resolve().parent / "datos"
DATA_DIR

WindowsPath('C:/Users/juans/Documents/GitHub/cuenta-alto-costo/datos')

In [12]:
# Definir ruta base
DATA_DIR = Path(r"C:\Users\juans\Documents\GitHub\cuenta-alto-costo")

# Opción 1: Leer archivo Parquet (si existe)
# datos_CAC = pd.read_parquet(DATA_DIR / "cuenta_alto_costo.parquet")

# Opción 2: Leer la hoja "BD FINAL" del Excel
datos_CAC = pd.read_excel(DATA_DIR / "Mortalidad 2019 colombia1.xlsx", sheet_name="BD FINAL")

# Ver las primeras filas
print(datos_CAC.head())

   COD_DPTO    Nom Dep  COD_MUNIC  A_DEFUN  SIT_DEFUN OTRSITIODE  TIPO_DEFUN  \
0        17     CALDAS          1        1          1        NaN           2
1        19      CAUCA          1        1          3        NaN           2
2        73     TOLIMA        168        1          1        NaN           2
3        23    CÓRDOBA          1        1          1        NaN           2
4         8  ATLÁNTICO          1        1          1        NaN           2

    ANO  MES  HORA  ...  C_MUERTED  C_MUERTEE  ASIS_MED  \
0  2019   12    21  ...        NaN        NaN         1
1  2019   12     5  ...        1.0        NaN         2
2  2019   12    23  ...        NaN        NaN         1
3  2019   12    12  ...        NaN        NaN         1
4  2019   11    15  ...        NaN        NaN         1

                CAUSA_MULT  C_BAS1  \
0                     C712    C712
1                     C719    C719
2      I219/I139/I509/N189    N189
3       J80/C780 C800*J449    C800
4  I461/R570/I313/J90*N185    N185

                                       NOMBRE CIE-10  \
0                  Tumor maligno del lobulo temporal
1  Tumor maligno del encefalo, parte no especificada
2          Enfermedad renal cronica, no especificada
3  Tumor maligno, de sitio primario desconocido, ...
4                  Enfermedad renal crónica, etapa 5

                                CUENTA DE ALTO COSTO  CAUSA_667  IDPROFCER  \
0                  Tumor maligno del lobulo temporal        214          1
1  Tumor maligno del encefalo, parte no especificada        214          1
2       INSUFICIENCIA RENAL CRONICA, NO ESPECIFICADA        610          1
3  Tumor maligno de sitio primario desconocido, a...        214          1
4              ENFERMEDAD RENAL CRÓNICA EN ESTADIO 5        610          1

  CAU_HOMOL
0        31
1        31
2        74
3        34
4        74

[5 rows x 59 columns]

In [13]:
# El primer argumento de la función "sample" es el número de filas que se desean seleccionar
# El segundo argumento es la semilla para el generador de números aleatorios (para hacer constantes los experimentos)
datos_CAC.sample(2, random_state=100)

,COD_DPTO,Nom Dep,COD_MUNIC,A_DEFUN,SIT_DEFUN,OTRSITIODE,TIPO_DEFUN,ANO,MES,HORA,...,C_MUERTED,C_MUERTEE,ASIS_MED,CAUSA_MULT,C_BAS1,NOMBRE CIE-10,CUENTA DE ALTO COSTO,CAUSA_667,IDPROFCER,CAU_HOMOL
11110,76,VALLE DEL CAUCA,1,1,1,NaN,2,2019,8,18,...,NaN,NaN,1,J969/E43/C349,C349,"Tumor maligno de los bronquios o del pulmon, p...","Tumor maligno de los bronquios o del pulmon, p...",204,1,20
13867,5,ANTIOQUIA,1,1,1,NaN,2,2019,9,18,...,NaN,NaN,1,J960/C780/C809*C951,C951,"Leucemia cronica, celulas de tipo no especificado","Leucemia cronica, celulas de tipo no especificado",212,1,35

In [14]:
# Para reemplazar valores nulos se puede usar el método "replace"

datos_titanic = datos_CAC.replace("?", np.nan)

datos_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42644 entries, 0 to 42643
Data columns (total 59 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COD_DPTO              42644 non-null  int64
 1   Nom Dep               42644 non-null  object
 2   COD_MUNIC             42644 non-null  int64
 3   A_DEFUN               42644 non-null  int64
 4   SIT_DEFUN             42644 non-null  int64
 5   OTRSITIODE            129 non-null    object
 6   TIPO_DEFUN            42644 non-null  int64
 7   ANO                   42644 non-null  int64
 8   MES                   42644 non-null  int64
 9   HORA                  42644 non-null  int64
 10  MINUTOS               42644 non-null  int64
 11  SEXO                  42644 non-null  int64
 12  EST_CIVIL             42644 non-null  int64
 13  GRU_ED1               42644 non-null  int64
 14  GRU_ED2               42644 non-null  int64
 15  NIVEL_EDU             42644 non-null  int64
 16  ULTCURFAL             42644 non-null  int64
 17  MUERTEPORO            42479 non-null  float64
 18  SIMUERTEPO            35 non-null     float64
 19  OCUPACION             42333 non-null  object
 20  IDPERTET              42644 non-null  int64
 21  CODPRES               42635 non-null  float64
 22  CODPTORE              42493 non-null  float64
 23  CODMUNRE              42493 non-null  float64
 24  AREA_RES              42494 non-null  float64
 25  SEG_SOCIAL            42644 non-null  int64
 26  IDADMISALUD           41618 non-null  float64
 27  P_PMAN_IRIS           42644 non-null  int64
 28  CONS_EXP              42644 non-null  int64
 29  MU_PARTO              31 non-null     float64
 30  T_PARTO               31 non-null     float64
 31  TIPO_EMB              31 non-null     float64
 32  T_GES                 31 non-null     float64
 33  T_GES_AGRU_CIE        31 non-null     float64
 34  PESO_NAC              31 non-null     float64
 35  EDAD_MADRE            31 non-null     float64
 36  N_HIJOSV              31 non-null     float64
 37  N_HIJOSM              31 non-null     float64
 38  EST_CIVM              31 non-null     float64
 39  NIV_EDUM              31 non-null     float64
 40  ULTCURMAD             31 non-null     float64
 41  EMB_FAL               5138 non-null   float64
 42  EMB_SEM               5138 non-null   float64
 43  EMB_MES               5138 non-null   float64
 44  CODOCUR               4 non-null      float64
 45  CODMUNOC              4 non-null      float64
 46  C_MUERTE              316 non-null    float64
 47  C_MUERTEB             35882 non-null  float64
 48  C_MUERTEC             5079 non-null   float64
 49  C_MUERTED             13792 non-null  float64
 50  C_MUERTEE             0 non-null      float64
 51  ASIS_MED              42644 non-null  int64
 52  CAUSA_MULT            42644 non-null  object
 53  C_BAS1                42644 non-null  object
 54  NOMBRE CIE-10         42644 non-null  object
 55  CUENTA DE ALTO COSTO  42644 non-null  object
 56  CAUSA_667             42644 non-null  int64
 57  IDPROFCER             42644 non-null  int64
 58  CAU_HOMOL             42644 non-null  int64
dtypes: float64(29), int64(23), object(7)
memory usage: 19.2+ MB

Nótese que después de reemplazar los `?` con `nan` se tienen varios datos nulos en las variables:

* `age`
* `fare`
* `cabin`
* `embarked`
* `home.dest`

# Eliminación de columnas

* Aquellas columnas que tienen "muchos" valores nulos, es preferible removerlas para evitar introducir sesgos en los datos.
* La columa `ticket` es un identificador único por pasajero. Realmente no es muy valiosa a la hora de obtener información.

Para este caso de estudio, se eliminarán:
* `cabin`
* `ticket`
* `home.dest`

In [6]:
datos_titanic = datos_titanic.drop(columns=['cabin', 'home.dest', 'ticket'])

datos_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   name      1309 non-null   object
 3   sex       1309 non-null   object
 4   age       1046 non-null   object
 5   sibsp     1309 non-null   int64
 6   parch     1309 non-null   int64
 7   fare      1308 non-null   object
 8   embarked  1307 non-null   object
dtypes: int64(4), object(5)
memory usage: 92.2+ KB

# Variables Categóricas

## Ordinal

La variable categórica ordinal que se tiene en este conjunto de datos corresponde a `pclass`.

* `pclass`: una clasificación aproximada del estrato socio-económico de los pasajeros.
    * 1 = Upper
    * 2 = Middle
    * 3 = Lower

## Nominal

Las variables categóricas nominales que se tienen corresponden a `sex` y `embarked`.

* `sex`: género del pasajer@
    * female
    * male

* `embarked`: puerto de embarcación
    * C = Cherbourg
    * Q = Queenstown
    * S = Southampton

# Variables Numéricas

## Discretas

* `sibsp`: Este conjunto de datos tiene relaciones de familia.
    * Sibling = brother, sister, stepbrother, stepsister
    * Spouse = husband, wife (mistresses and fiancés were ignored)
    * `sibsp` = 0, 1, 2, 3, 4, 5, 8

* `parch`: The dataset defines family relations in this way…
    * Parent = mother, father
    * Child = daughter, son, stepdaughter, stepson
    * Some children travelled only with a nanny, therefore parch = 0 for them.
    * `parch` = 0, 1, 2, 3, 4, 5, 6

## Continuas

* `fare`: Tarifa del pasajero
* `age`: Edad del pasajero. Algunos valores están como decimales, por lo que se convertirán a enteros.

## Variables Booleanas

* `Survived`: 0 = No, 1 = Yes

## Variables Tipo String

* `name`: nombre del pasajero con el formato *apellido, titulo. Nombre*

# Conversión de datos

## Variables categóricas

In [7]:
cols_categoricas = ['pclass', 'sex', 'embarked']

datos_titanic[cols_categoricas] = datos_titanic[cols_categoricas].astype("category")

datos_titanic["pclass"] = pd.Categorical(
    datos_titanic["pclass"], categories=[3, 2, 1], ordered = True
)

## Variables numéricas

In [8]:
cols_numericas_flotantes = ['age', 'fare']

datos_titanic[cols_numericas_flotantes] = datos_titanic[cols_numericas_flotantes].astype("float64")

In [9]:
cols_numericas_enteros = ["sibsp", "parch"]

datos_titanic[cols_numericas_enteros] = datos_titanic[cols_numericas_enteros].astype("int8")

## Variables booleanas

In [10]:
cols_booleanas = ["survived"]

datos_titanic[cols_booleanas] = datos_titanic[cols_booleanas].astype("bool")

# Verificación final

In [11]:
datos_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   category
 1   survived  1309 non-null   bool
 2   name      1309 non-null   object
 3   sex       1309 non-null   category
 4   age       1046 non-null   float64
 5   sibsp     1309 non-null   int8
 6   parch     1309 non-null   int8
 7   fare      1308 non-null   float64
 8   embarked  1307 non-null   category
dtypes: bool(1), category(3), float64(2), int8(2), object(1)
memory usage: 38.9+ KB

In [12]:
# Convierte un DataFrame de pandas en una tabla de PyArrow
# PyArrow es más eficiente en memoria que Pandas.

schema = pa.Table.from_pandas(datos_titanic).schema

# Guardar datos en formato `parquet`

In [13]:
# Obtener la ruta del notebook actual
ruta_datos_crudos = Path.cwd().resolve().parent / "datos"

ruta_archivo = ruta_datos_crudos / "02_datos_con_tipo_de_dato_ajustado_titanic.parquet"

# Crear directorio si no existe
ruta_datos_crudos.mkdir(parents=True, exist_ok=True)

# Guardar el DataFrame en el archivo parquet

# En este caso especificamos el esquema de datos. Útil para tener control total sobre los tipos de datos.
datos_titanic.to_parquet(ruta_archivo, index=False, schema=schema)